<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="name" value="name"><br>
      <input type="text" name="breed" value="breed"><br>
      <input type="text" name="age" value="age">
      <!-- <button type="submit" name="submit">submit</button> -->
      <input type="submit" name="submit" value="submit">

    </form>

  </body>
</html>
