<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h2>Puppy Name: <%="\n"+@pup.name%></h2>
    <h2>Puppy Breed: <%="\n"+@pup.breed%></h2>
    <h2>Puppy Age: <%="\n"+@pup.age%></h2>
  </body>
</html>
